.additional-products {
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.additional-products__wrapper-title {
  padding-top: 25px;
  padding-bottom: 36px;
}

.additional-products__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 38px;
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 17px;
}

.additional-products__caption {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.additional-products__description {
  margin-bottom: 13px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__description td {
  width: 140px;
  margin: 0;
}

.additional-products__option {
  text-align: start;
}

.additional-products__option-value {
  text-align: end;
}
