.button {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white-basic;
  background-color: @green;
  border: none;
}

.button--program {
  width: 280px;
  padding: 11px 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 244px;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.button--form {
  width: 280px;
  padding: 9px 44px;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 16px 45px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.button--catalog {
  width: 280px;
  padding: 10px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.button--show-all {
  width: 280px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: @grey-special-dark;
  background-color: @grey-basic;

  @media (min-width: @tablet-width) {
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.button--additional-products {
  width: 280px;
  padding: 10px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.button:hover {
  background-color: @green-hover;
}

.button:active {
  color: rgba(@white-basic, 0.3);
}

.button--show-all:hover {
  background-color: @grey-hover;
}

.button--show-all:active {
  color: rgba(@grey-special-dark, 0.3);
}
