.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @white-basic;
  background-color: @green;
  width: 280px;
  padding: 11px 20px;
  box-sizing: border-box;
}
