.catalog-basic__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.catalog-basic__item {
  position: relative;
  min-height: 190px;
  padding-top: 6px;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 430px;
    padding-top: 81px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-bottom: 63px;
  }

  &--show-all {
    position: relative;
    padding: 0;

    @media (min-width: @tablet-width) {
      width: 324px;
      min-height: 430px;
      margin-bottom: 59px;
      padding-top: 81px;
      padding-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      width: 245px;
      margin-bottom: 63px;
    }
  }
}

.catalog-basic__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: @grey-hover;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog-basic__item--show-all::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: @grey-hover;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog-basic__wrapper-image-caption-description {
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding: 11px 20px 12px 20px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 324px;
    min-height: 362px;
    padding: 0;
    background: @grey-basic;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 367px;
  }
}

.catalog-basic__wrapper-item-show-all {
  width: 280px;
  margin: 0 auto;
  padding: 80px 20px 24px 20px;

  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 430px;
    margin: 0;
    padding: 159px 0 36px 0;
    border: 2px solid @grey-basic;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.catalog-basic__link-image {
  display: flex;
  justify-content: center;
  width: 140px;
  min-height: 103px;
  box-sizing: border-box;

  &--1product {
    padding-top: 17px;
  }

  &--2product {
    padding-top: 14px;
  }

  &--3product {
    padding-top: 30px;
  }

  &--4product {
    padding-top: 14px;
  }

  &--5product {
    padding-top: 33px;
  }

  &--6product {
    padding-top: 15px;
  }

  &--7product {
    padding-top: 27px;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    top: -73px;
    align-items: flex-end;
    width: 168px;
    min-height: 200px;
    margin: 0 auto;

    &--1product,
    &--2product,
    &--3product,
    &--4product,
    &--5product,
    &--6product,
    &--7product {
      padding-top: 0;
    }

    &--2product {
      margin-bottom: -6px;
    }
  }

  @media (min-width: @desktop-width) {
    top: -80px;
    width: 172px;
    min-height: 196px;

    &--1product,
    &--3product,
    &--5product,
    &--7product {
      margin-top: 3px;
      margin-bottom: -3px;
    }

    &--2product {
      margin-bottom: -7px;
    }
  }
}

.catalog-basic__link-image img {
  display: block;
  margin: 0 auto;
}

.catalog-basic__link-image--1product img {
  width: 68px;
  height: 86px;

  @media (min-width: @tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.catalog-basic__link-image--2product img {
  width: 84px;
  height: 101px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 202px;
  }
}

.catalog-basic__link-image--3product img {
  width: 68px;
  height: 78px;

  @media (min-width: @tablet-width) {
    width: 163px;
    height: 174px;
  }
}

.catalog-basic__link-image--4product img {
  width: 84px;
  height: 101px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.catalog-basic__link-image--5product img {
  width: 68px;
  height: 78px;

  @media (min-width: @tablet-width) {
    width: 161px;
    height: 171px;
  }
}

.catalog-basic__link-image--6product img {
  width: 84px;
  height: 100px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.catalog-basic__link-image--7product img {
  width: 72px;
  height: 84px;

  @media (min-width: @tablet-width) {
    width: 163px;
    height: 174px;
  }
}

.catalog-basic__wrapper-caption-description {
  width: 140px;
  min-height: 103px;
  padding-top: 5px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -44px;
    width: 251px;
    min-height: 157px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    top: -36px;
    width: 169px;
    min-height: 156px;
  }
}

.catalog-basic__caption {
  width: 76px;
  margin: 0;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    width: 174px;
    margin-left: 40px;
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
    margin: 0 0 16px 15px;
    line-height: 21px;
  }

  &--show-all {
    width: 204px;
    margin: 0 auto;
    margin-bottom: 8px;
    color: @special_dark-grey-2;

    @media (min-width: @tablet-width) {
      width: 134px;
      margin-bottom: 23px;
      line-height: 22px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
    }
  }
}

.catalog-basic__caption--show-all::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background: @grey-plus;

  @media (min-width: @tablet-width) {
    top: 163px;
    width: 60px;
  }
}

.catalog-basic__caption--show-all::after {
  content: "";
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 30px;
  height: 2px;
  background: @grey-plus;

  @media (min-width: @tablet-width) {
    top: 163px;
    width: 60px;
  }
}

.catalog-basic__link-caption br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.catalog-basic__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @grey-special-dark;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-left: 2px;
  }
}

.catalog-basic__description td {
  width: 70px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 125px;
    height: 31px;
    border-bottom: 1px solid @grey-border;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.catalog-basic__option {
  text-align: start;
}

.catalog-basic__option-value {
  text-align: end;
}

.catalog-basic__text {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @grey-special-dark;

  @media (min-width: @tablet-width) {
    width: 167px;
    margin: 0 auto;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-basic__wrapper-button {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 63px;
    padding: 0;
    background: @grey-basic;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.catalog-basic__button {
  @media (min-width: @tablet-width) {
    position: relative;
    top: -17px;
    left: 50%;
    transform: translate(-50%);

    &--show-all {
      top: 0;
    }
  }
}
