.comments {
  position: relative;
}

.comments::after {
  content: "";
  position: absolute;
  top: -48px;
  right: 0;
  width: calc(50% - 2px);
  height: 2px;
  background: @green;

  @media (min-width: @tablet-width) {
    width: calc(50% + 94px);
    top: -89px;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% + 388px);
    top: -91px;
  }
}

.comments::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -89px;
    left: 0;
    width: calc(50% - 354px);
    height: 2px;
    background: @green;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% - 650px);
    top: -91px;
  }
}

.comments__title {
  padding-top: 0;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 34px;
  }
}

.comments__title span {
  display: block;
  width: 121px;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    width: 182px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.comments__item {
  margin: 0 auto;
}

.comments__text {
  width: 280px;
  height: 151px;
  padding: 9px 13px 8px 13px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-special-dark;
  box-sizing: border-box;
  border: 1px solid @grey-textarea;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.comments__text::placeholder {
  color: @grey-special-dark;
}
