.comments__title {
  padding-top: 6px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 34px;
  }
}

.comments__item {
  margin: 0 auto;
}

.comments__text {
  width: 280px;
  height: 151px;
  padding: 8px 13px 8px 13px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-special-dark;
  box-sizing: border-box;
  border: 1px solid @grey-textarea;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.comments__text::placeholder {
  color: @grey-special-dark;
}
