.contacts {
  outline: 5px solid rgba(255, 166, 0, 0.5);
  outline-offset: -5px;
}

.contacts__wrapper-text-block--grey {
  background-color: @grey-basic;
}

.contacts__text-block {
  padding: 28px 0 26px 0;
}

.contacts__invitation {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black-special;
  margin: 0;
  width: 140px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @grey-special-dark;
  margin: 0;
  width: 140px;
}

.contacts__map-block {
  width: 100%;
  height: 362px;
}

.contacts__map-block iframe {
  height: 362px;
  width: 100%;
  border: none;
}
