.copyright__text-link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @grey-special-dark;
}

.copyright__image-link svg {
  fill: @grey-svg;
}
