.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 163px;
    padding: 0;
  }
}

.copyright__text-link {
  margin-bottom: 5px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @grey-special-dark;
}

.copyright__image-link svg {
  width: 27px;
  height: 34px;
  fill: @grey-svg;
}

.copyright:hover svg {
  fill: @green;
}

.copyright:active svg {
  fill-opacity: 0.3;
}

.copyright:active .copyright__text-link {
  opacity: 0.3;
}
