.form__wrapper-information-program {
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-special-dark;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Чекбоксы, радиокнопки*/

.form__label--checkbox {
  position: relative;
  margin-left: 46px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-left: 59px;
  }
}

.form__label--radio {
  position: relative;
  margin-left: 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-left: 89px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 87px;
  }
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid @grey-border;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -59px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    left: -48px;
  }
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid @grey-border;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -59px;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -37px;
  width: 14px;
  height: 14px;
  background-color: @green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    left: -48px;
  }
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--radio:hover + .form__label--radio::before {
  border-color: @grey-border-4;
}

.form__input--checkbox:focus + .form__label--checkbox::before,
.form__input--radio:focus + .form__label--radio::before {
  outline: 2px solid @black-basic;
}


.form__input--checkbox:disabled + .form__label--checkbox,
.form__input--radio:disabled + .form__label--radio {
  opacity: 0.3;
}

/* Текстовые поля ввода */

.form__input-text {
  padding: 14px 14px 14px 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-special-dark;
  border: 1px solid @grey-textarea;
  box-sizing: border-box;
  height: 45px;

  @media (min-width: @tablet-width) {
    padding: 10px 20px 11px 20px;
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 18px 11px 18px;
  }
}

.form__input-text:hover {
  border-color: @grey-border;
}

.form__input-text:focus {
  border: 2px solid @grey-special-dark;
  outline: none;
  padding: 12px 14px 13px 14px;

  @media (min-width: @tablet-width) {
    padding: 9px 19px 10px 19px;
  }
}

.form__input-text:not(.form__input-text--optional):invalid {
  border: 2px solid @red-error;
}

.form__input-text::placeholder {
  color: @grey-special-dark;
  opacity: 1;
}

/*Текстовые поля ввода - Контактные данные владельца */

.form__field-input-text-owner-information {
  position: relative;
}

.form__field-input-text-owner-information svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;

  @media (min-width: @tablet-width) {
    right: 18px;
  }

  @media (min-width: @desktop-width) {
    right: 19px;
  }
}

.form__input-text-icon-email {
  width: 19px;
  height: 14px;
  stroke: @special_dark-grey-2;
  fill: none;
}

.form__input-text--email:focus + .form__input-text-icon-email {
  stroke: @green;
}

.form__input-text--email:invalid + .form__input-text-icon-email {
  stroke: @red-error;
}

.form__input-text-icon-tel {
  width: 20px;
  height: 21px;
  fill: @black-basic;
}

.form__input-text--tel:focus + .form__input-text-icon-tel {
  fill: @green;
}

.form__input-text--tel:invalid + .form__input-text-icon-tel {
  fill: @red-error;
}

/*Кнопка*/

.form__wrapper-button-notice {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__button-wrapper {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 81px;
  }
}

/*Примечание: отправить заявку*/

.form__notice {
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 180px;
    margin: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }
}
