.form-main__title-block {
  padding-top: 27px;
  padding-bottom: 27px;
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.form-main__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form-main__description {
  width: 226px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
