.form fieldset {
  padding: 0;
  margin: 0 auto;
  border: none;
}

.form__legend {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-special-dark;
}

.form__input-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-special-dark;
  border: 1px solid @grey-border;
  box-sizing: border-box;
}

.form__input {
  display: none;
}

.form__button {
  margin-bottom: 21px;
}

.form__notice {
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
