.functional-food {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    min-height: 858px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 567px;
    margin-bottom: 82px;
  }
}

.functional-food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 302px;
  background-image: url("../img/index-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-cat-mobile@2x.jpg");
    background-size: 640px auto;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    display: none;
  }

  @media (min-width: @desktop-width) {
    top: -127px;
    left: auto;
    right: 0;
    transform: translateX(0);
    display: block;
    width: 50vw;
    height: 694px;
    background-image: url("../img/index-cat-desktop.jpg");
    background-size: 50vw auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-cat-desktop@2x.jpg");
      background-size: 50vw auto;
    }
  }
}

.functional-food::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 302px;
  background-color: rgba(@green, 0.85);

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    top: -127px;
    right: 0;
    left: auto;
    width: 50vw;
    height: 694px;
    background-size: 50vw auto;
  }
}

.functional-food__wrapper-text {
  position: relative;
  z-index: 2;
  width: 280px;
  padding: 0 20px;
  padding-top: 27px;
  margin: 0 auto;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 47px 237px 0 117px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    width: 414px;
    padding: 0;
    padding-top: 96px;
    margin: 0;
    margin-left: calc(50% - 530px);
    margin-bottom: 52px;
  }
}

.functional-food__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @white-basic;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
    color: @black-basic;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.functional-food__slogan {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white-basic;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black-basic;
  }
}

.functional-food__picture {
  position: relative;
  z-index: 2;
  display: block;
  order: 1;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    order: 2;
    width: 708px;
    height: 609px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 12px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
    margin: 0;
  }
}

.functional-food__button {
  position: relative;
  z-index: 2;
  display: block;
  order: 2;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    z-index: 3;
    order: 1;
    margin: 0;
    margin-top: -580px;
    margin-bottom: 526px;
    margin-left: calc(50% - 272px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(50% - 530px);
  }
}
