.how-work {
  outline: 5px solid rgba(250, 100, 250, 0.5);
  outline-offset: -5px;
}

.how-work__wrapper {
  margin-bottom: 45px;
  padding-top: 8px;
}

.how-work__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.how-work__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.how-work__item {
  margin-bottom: 26px;
  padding-left: 80px;
}

.how-work__item-text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @grey-special-dark;
}
