.info {
  background-color: @grey-basic;
  outline: 5px solid rgba(0, 166, 100, 0.5);
  outline-offset: -5px;
}

.info__logo-block {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 33px;
}

.info__logo-link-text img {
  width: 128px;
  height: 24px;
}

.info__social-block {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 23px;
}

.info__copyright-block {
  padding-top: 22px;
  padding-bottom: 22px;
}
