.living-example {
  background-color: @grey;

  @media (min-width: @tablet-width) {
    background-color: @white-basic;
  }
}

.living-example__wrapper {
  padding: 27px 0 25px 0;

  @media (min-width: @tablet-width) {
    padding: 43px 0 0 0;
    border-top: 1px solid @grey-border-2;
  }

  @media (min-width: @desktop-width) {
    border-top: none;
    padding-top: 0;
  }
}

.living-example__title-wrapper {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.living-example__title {
  margin: 0;
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.living-example__wrapper-content {
  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 462px;
    background-color: @grey-basic;
  }
}

.living-example__wrapper-content::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 325px);
    min-height: 462px;
    background-color: @grey;
  }
}

.living-example__conteiner-content {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding: 70px 110px 0 110px;
    margin: 0 auto;
  }
}
