.living-example {
  outline: 5px solid rgba(192, 250, 100, 0.5);
  outline-offset: -5px;
  background-color: @grey;
}

.living-example__wrapper {
  padding: 27px 0 31px 0;
}

.living-example__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
}

.living-example__stats-block {
  margin-bottom: 42px;
}
