.main-navigation__toggle {
  position: absolute;
  left: 50%;
  margin-left: 120px;
  margin-top: -29px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  /*display: none;*/
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    min-height: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    min-height: 40px;
  }
}

.main-navigation__item {
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px 20px 20px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
    flex-grow: 0;
  }
}

.main-navigation__item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-navigation__item--index a {
  @media (min-width: @desktop-width) {
    color: @white-basic;
  }
}
