.main-navigation {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 440px;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    z-index: 20;
    padding-top: 69px;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 24px;
  height: 16px;
  margin-left: 115px;
  margin-top: -43px;
  cursor: pointer;
  border: none;
  background-color: @white-basic;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:active {
    outline: none;
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: @black-basic;
  box-shadow: 0 8px 0 0 @black-basic, 0 16px 0 0 @black-basic;
}

.main-navigation--opened .main-navigation__toggle {
  width: 18px;
  height: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: @black-basic;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    min-height: 36px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    min-height: 40px;
  }
}

.main-navigation__item {
  border-top: 1px solid @grey-border-2;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
    flex-grow: 0;
    border-top: none;
  }
}

.main-navigation__item a {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px 23px 20px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-navigation__item--current a {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @green;
  }

  @media (min-width: @desktop-width) {
    border-color: @white-basic;
  }
}


.main-navigation__item--current:not(.main-navigation__item--index) a {
  @media (min-width: @desktop-width) {
    border-color: @green;
  }
}

.main-navigation__item--index a {
  @media (min-width: @desktop-width) {
    color: @white-basic;
  }
}

.main-navigation__item:not(.main-navigation__item--current):hover a {
  opacity: 0.6;
}

.main-navigation__item:not(.main-navigation__item--current):active a {
  opacity: 0.3;
}
