.order-all {
  width: 280px;
  background-color: fade(@green, 85%);
  background-image: url("../../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.order-all__wrapper {
  padding-top: 186px;
  padding-bottom: 43px;
  margin-bottom: 35px;
}

.order-all__text {
  width: 161px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white-basic;
}
