.owner-information {
  position: relative;
}

.owner-information::after {
  content: "";
  position: absolute;
  top: -56px;
  right: 0;
  width: calc(50% - 61px);
  height: 2px;
  background: @green;

  @media (min-width: @tablet-width) {
    width: calc(50% - 239px);
    top: -54px;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% + 58px);
  }
}

.owner-information::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -54px;
    left: 0;
    width: calc(50% - 354px);
    height: 2px;
    background: @green;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% - 650px);
  }
}

.owner-information__title {
  padding-top: 25px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 75px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }
}

.owner-information__title span {
  display: block;
  padding-left: 0;
  padding-right: 93px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 156px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 708px;
  }
}

.owner-information__list {
  list-style: none;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.owner-information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 631px;
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-bottom: 13px;
  }
}

.owner-information__label {
  margin-right: 8px;

  @media (min-width: @tablet-width) {
    margin-right: 16px;
  }
}

.owner-information__field-input-text {
  flex-grow: 1;
}

.owner-information__field-input-text input {
  width: 100%;
}
