.owner-information__title {
  padding-top: 25px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 75px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 48px;
  }
}

.owner-information__list {
  list-style: none;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.owner-information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 631px;
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-bottom: 13px;
  }
}

.owner-information__label {
  margin-right: 8px;

  @media (min-width: @tablet-width) {
    margin-right: 16px;
  }
}

.owner-information__field-input {
  position: relative;
  flex-grow: 1;
}

.owner-information__field-input svg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.owner-information__input {
  width: 100%;
}
