.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-header__logo-block {
  display: flex;
  align-items: center;
  width: 280px;
  height: 38px;
  margin: 0 auto;
  padding: 12px 20px 15px 20px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 174px;
    height: 52px;
    margin: 0;
    padding: 26px 0 15px 0;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
    padding: 53px 0 15px 0;
  }
}

.page-header__logo-link-text {
  padding-top: 14px;
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-link-text img {
  width: 101px;
  height: 18px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-link-image {
  margin-right: 54px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.page-header__logo-link-image img {
  width: 34px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-block:not(.page-header__logo-block--current) a:hover {
  opacity: 0.8;
}

.page-header__logo-block:not(.page-header__logo-block--current):hover {
  cursor: pointer;

  @media (min-width: @tablet-width) {
    opacity: 0.8;
  }
}

.page-header__logo-block:not(.page-header__logo-block--current) a:active {
  opacity: 0.6;
}

.page-header__logo-block:not(.page-header__logo-block--current):active {
  @media (min-width: @tablet-width) {
    opacity: 0.6;
  }
}
