.products-additional {
  position: relative;
}

.products-additional::after {
  content: "";
  position: absolute;
  top: -39px;
  right: 0;
  width: calc(50% - 24px);
  height: 2px;
  background: @green;

  @media (min-width: @tablet-width) {
    width: calc(50% + 62px);
    top: -68px;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% + 358px);
    top: -69px;
  }
}

.products-additional::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -68px;
    left: 0;
    width: calc(50% - 354px);
    height: 2px;
    background: @green;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% - 650px);
    top: -69px;
  }
}

.products-additional__title {
  padding-top: 16px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 62px;
  }
}

.products-additional__title span {
  display: block;
  padding-left: 0;
  padding-right: 139px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 457px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 1008px;
  }
}

.products-additional__list {
  list-style: none;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7px;
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 5px;
  }
}

.products-additional__item {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    width: 282px;
    margin-right: 60px;
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    margin-right: 80px;
    margin-bottom: 61px;
  }
}

.products-additional__item:nth-child(even) {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 80px;
  }
}

.products-additional__item:nth-child(4n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
