.programs {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-column: 1/-1;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: @grey-basic;

  @media (min-width: @tablet-width) {
    padding: 77px 279px 57px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 51px 59px 52px;
    margin-bottom: 10px;
  }
}

.programs__item:last-child {
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

.programs__item--fat {
  @media (min-width: @tablet-width) {
    padding-right: 314px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 61px;
  }
}


.programs__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: @green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.programs__item--slim::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-image: url("../img/cat-program-slim.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 81px;
    left: 476px;
    width: 140px;
    height: 192px;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}

.programs__item--fat::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/cat-program-fat.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 112px;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;


  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.programs__description {
  position: relative;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;
  color: @grey-special-dark;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.programs__description::before {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 240px;
  height: 1px;
  background-color: @grey-border-3;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.programs__link-block {
  display: inline-block;
}


.programs__link-block a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__link-block a::after {
  content: "";
  display: block;
  order: 2;
  width: 7px;
  height: 12px;
  margin-left: 0;
  background-image: url("../img/icon-arrowhead.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.programs__link-block a::before {
  content: "";
  display: block;
  order: 1;
  width: 18px;
  height: 2px;
  margin-left: 15px;
  background-color: @black-basic;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 27px;
  }
}

.programs__link-block:hover a::before {
  width: 26px;
}

.programs__link-block:active a {
  opacity: 0.3;
}
