.slider-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-range__toggle {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider-range__scale {
  width: 84px;
  height: 14px;
  border: 1px solid @grey-border;
  border-radius: 6px;
  background-color: @white-basic;
  padding: 4px 43px 4px 6px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
  }
}

.slider-range__bar {
  width: 35px;
  height: 6px;
  background-color: @green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;
    margin-left: 214px;
    margin-top: -4px;
    border-radius: 50%;
  }
}
