.slider {
  @media (min-width: @tablet-width) {
    position: relative;
    height: 462px;
    background-color: @grey;
  }
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.slider__item {
  display: none;
  width: 311px;
  margin: 0 auto;

  &--current {
    display: block;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    width: 708px;
    height: 462px;
    margin: 0 auto;
  }
}

.slider__item:nth-child(1) img {
  width: 311px;
  height: 232px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -150px;
    left: 0;
    width: 708px;
    height: 607px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    height: 656px;
    top: -250px;
  }
}

.slider__item:nth-child(2) img {
  width: 251px;
  height: 240px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -150px;
    left: 0;
    width: 708px;
    height: 607px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    height: 656px;
  }
}

.slider__range-block {
  width: 210px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    top: 361px;
    margin-left: -300px;
    width: 570px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    top: 295px;
    margin-left: -220px;
  }
}
