.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.slider__item {
  display: none;
  width: 311px;
  margin: 0 auto;

  &--current {
    display: block;
  }
}

.slider__item:nth-child(1) img {
  width: 311px;
  height: 232px;
}

.slider__item:nth-child(2) img {
  width: 251px;
  height: 240px;
}
