.stats {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 29px;
    margin-bottom: 234px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    padding: 0;
    margin: 0;
  }
}


.stats__description {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @grey-special-dark;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.stats__description br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}


.stats__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 366px;
  }
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.stats__item {
  width: 124px;
  min-height: 64px;
  padding-top: 14px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 162px;
    min-height: 72px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.stats__quantity {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid @grey-border;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 19px;
  }
}

.stats__quantity-description {
  width: 77px;
  margin: 0 auto;
  margin-top: -19px;
  padding-left: 4px;
  padding-right: 6px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @grey-special-dark;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @white-basic;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-basic;
  }
}

.stats__item:nth-child(1) .stats__quantity-description {
  @media (min-width: @tablet-width) {
    width: 97px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

.stats__item:nth-child(2) .stats__quantity-description {
  @media (min-width: @tablet-width) {
    width: 127px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.stats__cost {
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 174px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    width: 327px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-left: -35px;
  }
}

.stats__cost span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
  }
}

.stats__cost span:nth-child(1) {
  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
